body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 25px;
}

main {
    text-align: center;
    display: block;
}

.container {
    display: flex;
    width: 50%;
    margin: 3em auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: left;
    justify-content: space-between;
    flex-wrap: wrap;
}

img {
    /* box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.3); */
    width: 240px;
    height: 240px;
    margin: 10px;

}

._1 {
    box-shadow: 0px 0px 10px rgba(0, 255, 8, 0.3);
}

._2 {
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.3);
}

button[type="home"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 15%;
}

button[type="home"]:hover {
    background-color: #45a049;
}