<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./index.css">
	<title>AdsDetect</title>
</head>
<body>
	<header>
		<h1>AdsDetect</h1>
	</header>

	<main>
		<section class="container">
			<form action="/results" method="POST">
				<label for="urlInput">URL:</label>
				<input type="text" id="urlInput" name="url" required>
		
				<label for="keywordsInput">Keywords:</label>
				<input type="text" id="keywordsInput" name="keywords">
		
				<button type="submit">Submit</button>
			</form>
		</section>
	</main>
</body>
</html>