<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="results.css">
    <title>Results</title>
</head>
<body>
    <header>
		<h1>Results</h1>
        <a href="/">
            <button type="home">home</button>
        </a>
	</header>

	<main>
		
        <section class="container">
            <% for(let i = 0; i < advertisements.length; i++){ %>
			<img class="<%= advertisements[i].valid ? "_1" : "_2" %>" src="<%= advertisements[i].url %>">
            <% } %>
		</section>
        
	</main>
</body>
</html>
