<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="results.css">
    <title>Results</title>
</head>
<body>
    <header>
		<h1>Results</h1>
        <a href="/">
            <button type="home">home</button>
        </a>
	</header>

	<main>
		
        <section class="container">
			<pre><code><%= JSON.stringify(advertisements, null, 2) %></code></pre>
		</section>

        <section class="container">
			<% for (let index = 0; index < advertisements["ads"]["screenshot_ads"].length; index++) { %> 
                <img src="<%= advertisements["ads"]["screenshot_ads"][index] %> ">
                
            <% } %> 
		</section>
        
	</main>
</body>
</html>
